<div class="d-flex align-items-center justify-content-center">
  <h1>Welcome in the scheduled Tweets</h1>
  <% if @user %>
    <div>
      Logged in as: <%= @user.email %>
    </div>
  <% end %>
</div>
