Hi <%= params[:user].email %>,<br>

<p>
Some requested reset of your password.
</p>

<p>
If it was you, click in the link to reset your password. The link will expire automatically in 1 day: 
<%= link_to "Reset password", password_reset_edit_url(token: @token) %>
</p>